body {
  margin: 0;
  background-color: #EADDCA; /* Same as App background */
  font-family: -apple-system, Bloboto, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
